node_modules
.next
.git
.gitignore
.env
.env.local
.env.*.local
.env.production
.env.development
Dockerfile
.dockerignore
docker-compose.yml
README.md
*.log
.DS_Store
.vscode
.idea
coverage
.next/cache
/db
